:root{
  --color--grenn:  #50fa7b ;
  --color--rocket:  #7159c1 ;
}

body{
    background: rgb(163, 159, 223);
    opacity: 100px;
    text-align: center;
}

#wrapper h1{
    color: rgb(0, 0, 0);
    font-size: 80px;
    text-align: center;    
}

/*=====cards====*/

.cards {
    max-width: center 800px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    background-color: var(--color--rocket);

}

.card__image-containe img{
    width: 100;
    text-align: center;
}
 
.card__info{
   display: grid;
  grid-template-columns:  1fr 1fr;
}

.card__price{
   background-color:var(--color--rocket);
   filter: brightness(90%);
   padding: 5px 20px;
   border-radius: 20px;
   text-align: center;
}

.modal-overlay{
    background-color: black;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    opacity: 0;
    visibility: hidden;
}

.modal{
    background-color: white;
    width: 90%;
    height: 90%;
    margin: 5vh auto;
    position: relative;
}

.modal .close-modal{
    color: black;
    position: absolute;
    right: 8px;
    top: 8px;
    cursor: pointer;

}

.modal-overlay.active{
opacity: 1;
visibility: visible;
}

iframe {
    width: 100%;
    height: 90%;
    position: absolute;
    left: 0%;
    top: 5%;
}